<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071864782554-55oc7qbepif54nqii0qktas4qqogn4p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071864782554-55oc7qbepif54nqii0qktas4qqogn4p1</string>
	<key>API_KEY</key>
	<string>AIzaSyC78MMI75hKkaHPKuCA_qvu7Qg5thrY_Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>1071864782554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullfii.fullfii</string>
	<key>PROJECT_ID</key>
	<string>fullfii</string>
	<key>STORAGE_BUCKET</key>
	<string>fullfii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071864782554:ios:b200621b0ab05da8d64fe3</string>
	<key>DATABASE_URL</key>
	<string>https://fullfii.firebaseio.com</string>
</dict>
</plist>