<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fullfii.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>495065AA8AB3E4D1C6AF0DF11063873FDEC99C04</string>
				<key>dateExpires</key>
				<string>2021/09/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9PV69CABG3.com.fullfii.fullfii</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9PV69CABG3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>fullfii.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>17f52727-e19d-428e-83c0-8945b1fb1a54</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.fullfii.fullfii</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9PV69CABG3</string>
				<key>name</key>
				<string>Koji Hayashi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
